
<nav class="navbar navbar-custom styling-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button id="flip" type="button" class="navbar-toggle collpase-button-style" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar color-blue"></span>
        <span class="icon-bar color-blue"></span>
        <span class="icon-bar color-blue"></span>                        
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("/assets/Jakokulma_web.png", class: "header_icon") %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="panel">
      <ul class="nav navbar-nav nav-list-top">
        <li class="active">
          <%#= link_to "NÄIN SE TOIMII", '/en/infos/how_to_use', class: "list-color-active" %>
          <button type="button" class="btn btn-info btn-lg modal-store" data-toggle="modal" data-target="#myModal">NÄIN SE TOIMII</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <iframe width="560" height="315" src="//www.youtube.com/embed/k3jt5ibfRzw" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
        </li>
        <li class="">
          <%= link_to "BLOGI", 'https://blog.jakokulma.fi/', class: "list-color-normal",:target => '_blank' %>          
        </li>
        <%unless logged_in?%>
        <li><%= link_to "REKISTERÖIDY", '/en/signup', class: "list-color-normal" %></li>
        <li><%= link_to "KIRJAUDU SISÄÄN",'/en/login', class: "list-color-normal" %></li>
        <%end%>
        
        <li><%= link_to "LUO UUSI ILMOITUS", new_listing_path, class: "list-post" %></li>
    
      </ul>
    </div>
  </div>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script> 
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
</script>
  