<%=stylesheet_link_tag 'bootstrap'%>
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<%=form_tag '/s', id: 'search_form1', method: :get do%>
  <section class="marketplace-lander">
    <div class="coverimage">
      <figure class="marketplace-cover fluidratio" style="background-image: url('<%=Community.last.cover_photo.url(:original)%>');">
        <div class="lander-content marketplace-lander-content">
          <!-- <h1 class="marketplace-lander-content-title"><%#= community_slogan.html_safe %></h1> -->
          <p class="marketplace-lander-content-description"><%#= community_description.html_safe %></p>
          <div class="search-form">
            <div class="search-form-input search-form-text-field">
              <input type="text" name="q" id="q" placeholder="">
            </div>
            <div class="search-form-input">
              <button class="action-button" id="search-button" type="submit">
                <i class="ss-search icon-part"></i>
              </button>
            </div>
          </div>
        </div>
      </figure>
    </div>
  </section>
<%end%>
<div class="homepage-wrapper">
  <div class="wrapper">
    <div class="picture-address">
      <div class="col-md-12 col-xs-12 col-sm-12"><h1 class="heading-font">JAETTU TAVARA – KAKSINKERTAINEN ILO</h1>
      <small class="sub-heading">VUOKRAA harrastevälineitä tarpeesi mukaan.</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 margin-top-10px">
        <div class="col-md-5 col-sm-12 col-xs-12 new-width-for-big-one">
          <%=link_to (image_tag("cycle.png", class: "collage-image-1 collage-style")), '/s?category=sports' %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12  new-width-for-big-two">
          <%=link_to (image_tag("baja.png", class: "collage-image-2 collage-style")), '/s?category=music' %>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12  new-width-for-big-three">
          <%=link_to (image_tag("camera.png", class: "collage-image-3 collage-style")), '/s?category=electronics'%>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 second">
        <div class="col-md-3 col-sm-6 col-xs-12  new-width-for-big-one">
          <%=link_to (image_tag("sewing-mc.png", class: "collage-image-1 collage-style")), '/s?category=handworks' %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 new-width-for-big-two">
          <%=link_to (image_tag("tambu-hut.png", class: "collage-image-2 collage-style")), '/s?category=outdoors-and-cambing' %>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12  new-width-for-big-three">
          <%=link_to (image_tag("seting-tool.png", class: "collage-image-3 collage-style")), '/s?category=others' %>
        </div>
      </div>
    </div>
    <div class="new-background-subhaeding">
      <div class="col-md-12 col-xs-12 col-sm-12 text-center"><h1 class="heading-font text-center">NÄIN SE TOIMII</h1>
      <small class="sub-heading">KAIKKEA EI TARVITSE OMISTAA voidakseen käyttää. Jakokulmassavoit vuokrata ja antaa vuokralle.</small>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 margin-top-10px padding-none">
      <div class="col-md-4">
        <%= image_tag("peukku.png", class: "all-one-badges") %>
        <h4 class="text-center color-font-weight">HELPPOA!</h4>
        <p class="text-center color-paragraph">Otatium re pa quibusam alitas etvoluptur, evelique volum derumqui blabo. evelique volum derutesto temodi isqui ratur.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("lukko.png", class: "all-two-badges") %>
        <h4 class="margin-top-for-balance text-center color-font-weight">Turvallista!</h4>
        <p class="text-center color-paragraph">Otatium re pa quibusam alitas etvoluptur, evelique volum derumqui blabo. evelique volum derutesto temodi isqui ratur.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("ymparisto.png", class: "all-three-badges") %>
        <h4 class="text-center color-font-weight">Ympäristöystävällistä!</h4>
        <p class="text-center color-paragraph">Otatium re pa quibusam alitas etvoluptur, evelique volum derumqui blabo. evelique volum derutesto temodi isqui ratur.</p>
      </div>
    </div>
  </div>
  <footer id="myFooter">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="col-sm-12 color-bgd">
  <div class="col-sm-2">
    
  </div>
  <div class="col-sm-3">
  <div class="social-networks">
  <a class="facebook" href="https://www.facebook.com/thefoodfoundryuk/" target="_blank">
    <%= image_tag("FB.png", class: "social-icon-width") %>
  </a>
  <a class="twitter" href="https://twitter.com/thefoodfoundry" target="_blank">
    <%= image_tag("twitter.png", class: "social-icon-width") %>
  </a>
  </div>
  </div>
  <div class="col-md-7 margin-top-few">
  <div class="col-sm-3 margin-top-10px">
  <h5 class="text-center "><a class="color-white" href="/en/infos/terms">KÄYTTEHDOT</a></h5>
  </div>
  <div class="col-sm-3 margin-top-10px">
  <h5 class="text-center border-and-text-color"><a href="/en/blog">BLOGI</a></h5>
  </div>
  <div class="col-sm-3 margin-top-10px">
  <h5 class="text-center border-and-text-color"><a href="/en/infos/faq">FAQ</a></h5>
  </div>
  <div class="col-sm-3 margin-top-10px">
  <h5 class="text-center border-and-text-color"><a href="mailto:info@ownnomore.com">OTA YHTEYTTÄ</a></h5>
  </div>
  </div>
  </div>
  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-3 col-sm-3">
  <p class="footer-info"> Own No More Oy<br>
  Asiakastuki xxxx | info@ownnomore.com<br>
  Rekisteriseloste</p>
  </div>
  <div class="col-md-7"></div>
  </div>
  </div>

  </footer>

</div>