- stripe_manager = StripeManaged.new( @current_user )
= form_tag update_payment_info_path, multipart: true, class: 'form-horizontal account_form' do
  - if @current_user.stripe_account.stripe_account_status['due_by']
    %p
      Due by:
      %strong= Time.at( @current_user.stripe_account.stripe_account_status['due_by'] ).strftime("%Y-%m-%d")

  - if params[:debug]
    = debug @current_user.stripe_account.stripe_account_status['fields_needed']

  .list-group
    - # this account needs legal entity info
    - #if stripe_manager.needs? 'legal_entity.'
    .list-group-item
      .form-group
        .col-xs-12.col-sm-9
          - first_name = stripe_manager.legal_entity.first_name.present? ? stripe_manager.legal_entity.first_name : @current_user.given_name
          %input.form-control{ type: 'hidden', name: 'legal_entity[first_name]', value: first_name}

      .form-group
        .col-xs-12.col-sm-9
          - last_name = stripe_manager.legal_entity.last_name.present? ? stripe_manager.legal_entity.last_name : @current_user.family_name
          %input.form-control{ type: 'hidden', name: 'legal_entity[last_name]', value: last_name}

        - # this account needs a bank account
      .row
        .col-12
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_iban")
            .col-xs-12.col-sm-9
              / - if stripe_manager.needs? 'bank_account'
              = render "account_field", edit: false

      .row
        .col-12
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_date_of_birth")
            .col-xs-12.col-sm-9
              - dob = stripe_manager.legal_entity.dob
              - selected = Date.new( dob.year, dob.month, dob.day ) rescue nil
              = date_select 'legal_entity', 'dob',
                  { selected: selected,
                    prompt: true,
                    start_year: 90.years.ago.year,
                    end_year: 13.years.ago.year },
                  { class: 'form-control col-4', required: true , :oninput => "InvalidMsg(this);", :oninvalid => "InvalidMsg(this);"}

      .row
        .col-12
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_country")
            .col-xs-12.col-sm-9
              = select_tag "country", options_for_select([["Suomi", 'FI']], stripe_manager.legal_entity.address.country), prompt: 'Select country', class: "country_select", "data-stripe" => "country", required: true, :oninput => "InvalidMsg(this);", :oninvalid => "InvalidMsg(this);"

      .row
        .col-12
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_mobile")
            .col-xs-12.col-sm-9
              %input.form-control{ type: 'text', name: "legal_entity[phone_number]", value: stripe_manager.legal_entity.phone_number, required: true, :oninput => "InvalidMsg(this);", :oninvalid => "InvalidMsg(this);" }          

      .row
        .col-12
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_street_address")
            .col-xs-12.col-sm-9
              %input.form-control{ type: 'text', name: 'legal_entity[address][line1]', value: stripe_manager.legal_entity.address.line1, required: true,:oninput => "InvalidMsg(this);", :oninvalid => "InvalidMsg(this);"  }

      .row
        .col-6
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_zip")
            .col-xs-12.col-sm-9
              %input.form-control{ type: 'text', name: "legal_entity[address][postal_code]", value: stripe_manager.legal_entity.address.postal_code, required: true,:oninput => "InvalidMsg(this);", :oninvalid => "InvalidMsg(this);"  }          

        .col-6
          .form-group
            %label.control-label.col-xs-12.col-sm-3
              = t("stripe_accounts.settings.enitity_city")
            .col-xs-12.col-sm-9
              %input.form-control{ type: 'text', name: 'legal_entity[address][city]', value: stripe_manager.legal_entity.address.city, required: true, :oninput => "InvalidMsg(this);", :oninvalid => "InvalidMsg(this);"  }

  
    / - #if stripe_manager.needs? 'legal_entity.'
    / .row
    /   .col-12
    /     .form-group

    /       %label.control-label.col-xs-12.col-sm-3
    /         = t("stripe_accounts.settings.identiy_document")
    /       .col-xs-12.col-sm-9
    /         = file_field_tag :identiy_file
  .row
    .col-12
      %input.button{:name => "commit", :type => "submit", :value => t("stripe_accounts.settings.save")}

- content_for :extra_javascript do
  :javascript
    $('.country_select').select(function(){
      $("#acc_number").val('FI');
    });

- content_for :extra_javascript do
  :javascript
    function InvalidMsg(textbox) {
        
        if (textbox.value == '') {
            textbox.setCustomValidity('Ole hyvä ja anna puuttuvat tiedot.');
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }