.row
  .col-12
    .checkbox-container
      = check_box_tag :contract_agreed, "1", false, class: "required", required: true
      %label       
        = link_to "Hyväksyn ehdot", "#", :tabindex => "-1", :id => "terms_link"
        = @community_customization.transaction_agreement_label

= render layout: "layouts/lightbox", locals: { id: "transaction-agreement-content"} do
  - text_with_line_breaks do
    = @community_customization.transaction_agreement_content.html_safe rescue nil

