<!DOCTYPE html>
<html>
   <head>
      <title>Jakokulma</title>
      <%= render :partial => "layouts/google_analytics_script", locals: {feature_flags: FeatureFlagHelper.feature_flags, community_id: Maybe(@current_community).id.or_else, google_analytics_key: Maybe(@current_community).google_analytics_key.or_else}%>
      <%#=render partial: 'layouts/meta_content'%>
      <% font_path = APP_CONFIG[:font_proximanovasoft_url] %>
      <% if font_path.present? #&& FeatureFlagHelper.feature_enabled?(:topbar_v1) %>
        <%= render partial: "layouts/fonts", locals: { font_path: font_path } %>
      <% end %>
      <link href="<%= @current_community.favicon %>" rel="shortcut icon"></link>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <%= stylesheet_link_tag 'bootstrap'%>
      <%= stylesheet_link_tag 'application', 'landing_page_new' %>
      <% if @current_community.has_customizations? %>
        <%= render partial: "layouts/style_overrides", locals: MarketplaceHelper.style_customizations_map(@current_community) %>
      <% end %>
      <script>
        window.I18n = {};
      </script>
      <%= javascript_include_tag "bootstrap"%>
      <%= javascript_include_tag "i18n/#{I18n.locale}"%>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

   </head>
   <body>
      <%= render partial: "header_new" %>
      <%= yield %>
   </body>
</html>
