.row
  .col-12
    = image_tag 'visa.png', title: "Visa"
    = image_tag 'mastercard.png', title: "Mastercard"
    = image_tag 'amex.png', title: "American Express"

.row
  .col-12
    %span.payment-errors

.row
  .col-12
    %label
      %span
        = t("stripe_payments.street_address")
      %input{:type => "text", id: 'street_address', value: @current_user.street_address, required: true}

.row
  .col-12
    %label
      %span
        = t("stripe_payments.postal_code")
      %input{:type => "text", id: 'postal_code', required: true}

.row
  .col-12
    %label
      %span
        = t("stripe_payments.city")
      %input{:type => "text", id: 'city', required: true}

.row
  .col-12
    %label
      %span
        = t("stripe_payments.phone_number")
      %input{:type => "text", id: 'phone_number', value: @current_user.phone_number, required: true}

.row
  .col-12
    %label
      %span
        = t("stripe_payments.card_number")
    .row
      .col-6
        %input{:autocomplete => "cc-number", "data-stripe" => "number", :pattern => "\\d*", :placeholder => "4242 4242 4242 4242", :size => "20", :type => "text", id: 'card-number', required: true}
      .col-2
        %input{:autocomplete => "cc-exp-month", "data-stripe" => "exp_month", :pattern => "\\d*", :placeholder => "MM", :size => "2", :type => "text", id: 'card-expiry-month', required: true}
      .col-2
        %input{:autocomplete => "cc-exp-year", "data-stripe" => "exp_year", :pattern => "\\d*", :placeholder => "YY", :size => "2", :type => "text", id: 'card-expiry-year', required: true}
      .col-2
        %input{:autocomplete => "off", "data-stripe" => "cvc", :pattern => "\\d*", :placeholder => "CVC", :size => "3", :type => "text", id: 'card-cvc', required: true}